@import '../../../variables.scss';

header.calendar-header {
  align-items: center;
  display: flex;
  // justify-content: space-between;
  padding: 20px 0;

  .calendar-texts {
    text-align: center;
    width: 60%;

    .date-text {
      font-size: 3em;
    }
  }

  .previous-calendar-button, .next-calendar-button {
    width: 20%;
    text-align: center;
  }

  button {
    @include button(white, $accentColor);
    font-size: 1.5em;
    height: 50px;
    width: 50px;
  }
}

main.calendar-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(7, 1fr);
  padding: 0 50px;

  .weekday-cell {
    border: 1px solid black;
    text-align: center;
  }
}
