@import '../../../variables.scss';

$headerHeight: 10vh;
$mainHeight: 90vh;
$footerHeight: 10vh;

header {
  align-content: center;
  background: #cb2d3e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #cb2d3e, #ef473a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #cb2d3e, #ef473a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, .2);
  box-sizing: border-box;
  display: flex;
  height: $headerHeight;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;

  div.brand {
    color: white;
    cursor: default;
    font-family: $fontGeo;
    font-size: 2em;
    margin: auto 0;
    text-shadow: $subtleTextShadow;
  }

  div.login-section {
    display: flex;
    justify-content: flex-end;
    margin: auto 0 ;
    width: 33%;

    button {
      background-color: transparent;
      border: 2px solid white;
      color: white;
      cursor: pointer;
      font-size: 1.1em;
      padding: 10px;
      transition: all 0.1s linear;
      width: 100px;

      &:focus {
        outline: none;
        border-color: rebeccapurple;
        color: rebeccapurple;
      }

      &:hover {
        border-color: rebeccapurple;
        color: rebeccapurple;
      }

      &:active {
        background-color: rgba(0,0,0,0.05);
        border-color: darken(rebeccapurple, 5%);
        color: darken(rebeccapurple, 5%);
      }

      &.login {
        margin-left: 20px;
      }
    }
  }
}

main {
  background: #E8CBC0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #E8CBC0, #636FA4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #E8CBC0, #636FA4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: column;
  height: $mainHeight;
  // justify-content: center;
  overflow-y: auto;

  h2 {
    align-self: center;
    font-family: $fontGeo;
    font-size: 6em;
  }

  span {
    margin: 0 auto;
    width: 70%;
  }

  footer {
    background-color: black;
    color: white;
    height: $footerHeight;
    margin-top: 20px;
    padding: 20px;

    p {
      font-size: 1em;
      margin: auto;
      text-align: center;
    }
  }
}
