<main>
  <section class="date-box">
    <div class="month-box">
      <p>{{ currentDate | date: 'MMMM' }} {{ currentDate | date: 'y' }}</p>
      <!-- <p>{{ currentDate | date: 'EEEE' }}</p> -->
    </div>
    <h1>{{ currentDate | date: 'd' }}</h1>
    <div class="empty-space"></div>
  </section>
  <section class="task-box">
    <article class="tasks">
      <h2>Food Summary</h2>
      <h4>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel leo luctus, accumsan nisi eu, semper diam. Vestibulum feugiat aliquet erat, quis commodo turpis fringilla ut. Sed lacus justo, sodales a feugiat non, aliquet eu ipsum. Ut urna felis, rhoncus ut ornare eget, dictum id tortor. Suspendisse vulputate a velit non porttitor. Nunc ac sem interdum, euismod nisl ac, pulvinar purus. Nullam rutrum nec urna vitae semper. Sed augue lectus, congue a lobortis eu, aliquet a erat.
      </h4>
    </article>
    <article class="tasks">
      <h2>Workout Summary</h2>
      <h4>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel leo luctus, accumsan nisi eu, semper diam. Vestibulum feugiat aliquet erat, quis commodo turpis fringilla ut. Sed lacus justo, sodales a feugiat non, aliquet eu ipsum. Ut urna felis, rhoncus ut ornare eget, dictum id tortor. Suspendisse vulputate a velit non porttitor. Nunc ac sem interdum, euismod nisl ac, pulvinar purus. Nullam rutrum nec urna vitae semper. Sed augue lectus, congue a lobortis eu, aliquet a erat.
      </h4>
    </article>
    <article class="tasks">
      <h2>Daily Activities Summary</h2>
      <h4>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel leo luctus, accumsan nisi eu, semper diam. Vestibulum feugiat aliquet erat, quis commodo turpis fringilla ut. Sed lacus justo, sodales a feugiat non, aliquet eu ipsum. Ut urna felis, rhoncus ut ornare eget, dictum id tortor. Suspendisse vulputate a velit non porttitor. Nunc ac sem interdum, euismod nisl ac, pulvinar purus. Nullam rutrum nec urna vitae semper. Sed augue lectus, congue a lobortis eu, aliquet a erat.
      </h4>
    </article>
    <article class="tasks">
      <div class="note-header">
        <h2>Notes</h2>
        <button class="button" (click)="addNote()">Add</button>
      </div>
      <h4>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel leo luctus, accumsan nisi eu, semper diam. Vestibulum feugiat aliquet erat, quis commodo turpis fringilla ut. Sed lacus justo, sodales a feugiat non, aliquet eu ipsum. Ut urna felis, rhoncus ut ornare eget, dictum id tortor. Suspendisse vulputate a velit non porttitor. Nunc ac sem interdum, euismod nisl ac, pulvinar purus. Nullam rutrum nec urna vitae semper. Sed augue lectus, congue a lobortis eu, aliquet a erat.
      </h4>
    </article>
  </section>
</main>
