/* You can add global styles to this file, and also import other style files */

@import './variables.scss';

html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, a,
div, span, header, footer, main, section, article, aside, button {
  border: none;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  overflow-y: hidden;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $fontGeo;
}

app-today, app-schedule, app-calendar, app-goals, app-profile, app-food, app-history, app-modal {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

app-veil {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

app-modal {
  display: flex;
  left: 0;
  position: absolute;
  top: 0;
}

custom-input {
  display: block;
}

app-register {
  align-items: center;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  left: 0;
  justify-content: center;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}


